
body {
    font-family: 'Julius Sans One', sans-serif;
    background: url("../Images/food4.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

.navbar {
   
    background-color: rgb(44, 61, 77);
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    position: fixed;
    width: 100%;
  
}

.header-text {
    font-family: 'Julius Sans One', sans-serif;
    margin: -20px 0 0 0;
}

.container {
    background-color: rgb(44, 61, 77);
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
     
    /* display: flex;
    flex-direction: row;
    padding-top: 200px;
    padding-left: 400px; */

}

.flow-text {
    color: orange;
}

.save {
    color: orange;
}

.modal-header{
    background-color: #3481ab;
    color: white;
    font-size: 25px;
    }
    
    .modal-body{
    background-color: white;
    }
