body {
    font-family: 'Julius Sans One', sans-serif;
    background: url("../Images/food4.jpg");
    background-size: cover;
    background-attachment: local, scroll;
   
}


.nav-wrapper {
  background-color: rgb(44, 61, 77) !important;
  font-size: 14px;
  font-weight: bold;
}

/* .navbar {
   
    background-color: rgb(44, 61, 77) !important;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    position: fixed;
    width: 100%;
  
} */

.header-text {
  font-family: "Julius Sans One", sans-serif;
  margin: -20px 0 0 0;
}

.container {
    background-color: rgb(44, 61, 77);
    align-items: center;
    display: flex;
    flex-direction: row;
    position: center;
    top: 50px;
    left: 0;
    /* height: 100%; */
    width: 85%;
}

.container .row {
  margin: 0 auto;
}

.card-title {
  align-items: center;
  color: orange;
}

.flow-text {
  color: orange;
}

.save {
    color: orange;
}

.modal-header{
    background-color: #3481ab;
    color: white;
    font-size: 25px;
    }
    
    .modal-body{
    background-color: white;
    }


    .brand-logo {
        text-align: center;
    }


    

    .list-container {
            width: 100%;
            max-width: 750px;
            margin: 0 auto;
          }

    .list-container ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
          }      

    .list-container ul li {
            display: flex;
            flex-direction: column-reverse;
            width: 200px;
            background: #546e7a;
            margin: 1rem auto 0;
            padding: 0;
          }      

    .list-container ul li p {
            text-align: center;
          }      

    .img-container {
            position: relative;
            display: flex;
            align-items: center;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 200px;
            height: 200px;
          }    
          
    .img-container img {
            width: 100%;
            object-fit: cover;
          }
      
                  
          
          
          @media only screen and (min-width: 993px){
            nav a.button-collapse {
                display: block;
            }
            }    

            @media only screen and (max-width: 400px) {
                .food-img #food4
            }
            
